# .env.example

# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed file with defaults for a specific environment
#  * .env.$APP_ENV.local uncommitted file with local overrides for a specific environment
#
# A ".env.local.php" file is generated for production environments to optimize performance.
# See https://symfony.com/doc/current/configuration/secrets.html

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=change_this_to_a_long_random_string
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format: "mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=8.0.32&charset=utf8mb4"
DATABASE_URL="mysql://root:password@127.0.0.1:3306/suitecrm?serverVersion=8.0.32&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> App specific ###
SITE_URL=http://localhost:8000
###< App specific ###
